:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --accent-color: #e74c3c;
    --dark-background-color: #2c3e50;
    --light-background-color: #ecf0f1;
    --light-color: #ffffff;
    --dark-color: #34495e;
    --font-family: 'Arial', sans-serif;
    --padding: 20px;
    --border-radius: 5px;
    --transition: all 0.3s ease-in-out;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}





header {
    background-color: var(--dark-background-color);
    color: #fff;
    padding: var(--padding);
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.logo svg {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    fill: var(--light-color);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: var(--light-color);
    font-weight: bold;
    padding: var(--padding);
    border-radius: var(--border-radius);
    transition: var(--transition);
}

nav ul li a:hover {
    background-color: var(--primary-color);
    color: var(--light-color);
}

main {
    display: flex;
    flex-direction: column;
    height: 80vh;
    background-color: var(--light-background-color);
    color: var(--dark-color);
    font-family: var(--font-family);
    padding: var(--padding);
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.game-container h1 {
    text-align: center;
    font-size: 2.5em;
    color: var(--dark-color);
    padding: var(--padding);
}

.game-container button {
    background-color: var(--dark-color);
    color: var(--light-color);
    border: none;
    padding: var(--padding);
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: 16px;
    transition: var(--transition);
}

main button:hover {
    background-color: var(--secondary-color);
    transform: scale(1.05);
}


.game-container dialog {
    background-color: var(--light-background-color);
    color: var(--dark-color);
    border: 2px solid var(--dark-color);
    border-radius: var(--border-radius);
    padding: var(--padding);
    margin: var(--padding);
    text-align: center;
    font-size: 1.2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: clamp(300px, 50vw, 800px);
    height: auto;
    overflow: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.game-container dialog button {
    background-color: var(--dark-color);
    color: var(--light-color);
    border: none;
    padding: var(--padding);
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: 16px;
    transition: var(--transition);
}

.game-container dialog button:hover {
    background-color: var(--secondary-color);
    transform: scale(1.05);
}

.game-container dialog form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.game-container dialog form select {
    margin-bottom: var(--padding);
}

.dialog-actions {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: var(--padding);
}









footer {
    background-color: var(--dark-background-color);
    color: var(--light-color);
    text-align: center;
    padding: var(--padding);
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

footer p {
    margin: 0;
    font-size: 20px;
}

footer a {
    color: var(--light-color);
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

footer .heart {
    color: var(--accent-color);
    font-weight: bold;
}